<!-- extend base layout -->
{% extends "template.html" %}
{% block title %}
<title> EDW - note_extractor</title>
{% endblock %}

{% block content %}

<div class="form-group">
<form name="dataForm" id="dataForm" action="note" method="POST">

  <label class="label label-primary" for="data">Put pathology note here:</label>
  <textarea name="data" class="form-control" form="dataForm" rows="20" id="dataText"></textarea>
    <input class="btn btn-default form-control" name="submitbutton" id="submitbutton" type="submit" value="Submit">
</form>
</div>



{% endblock %}
