{% extends "template.html" %}
{% block title %}
<title> houseclean </title>
{% endblock %}
{% block pagename %}
houseclean_reminder
{% endblock %}
{% block css %}
<link href="/static/css/margin-top.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class='container'>
<div class="form-group">
<form name="dataForm" id="dataForm" action="conf_result" method="POST">
<div class="row">
<div class="col-md-4 col-md-offset-4 top17">
  <label class="label label-primary" for="key">put key here</label>
  <input type='text' name="key" class="form-control" form="dataForm" rows="20" id="dataText" placeholder='type in key'></input>
</div>
</div>
<div class="row">
<div class="col-md-4 col-md-offset-4 top17">
   <label class="label label-primary" for="value">put value here</label>
  <input type='text' name="value" class="form-control" form="dataForm" rows="20" id="dataText" placeholder='type in value'></input>
</div></div>
<div class="row">
<div class="col-md-4 col-md-offset-4 top17">
     <label class="label label-primary" for="cancer">put cancertype here</label>
  <input type='text' name="cancer" class="form-control" form="dataForm" rows="20" id="dataText" placeholder='type in cancer type'></input>
  </div></div>
  <div class="row">
<div class="col-md-4 col-md-offset-4 top30">
  <input class="btn btn-default form-control" name="submitbutton" id="submitbutton" type="submit" value="Submit"></input>
</div></div>
</form>
</div>
</div>
{% endblock %}